/* HEADER HEADER HEADER */
/*Header*/
.headerContainer {
    background-color: rgb(235, 240, 245);
}

/*Header*/

/*Name*/
.name {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 3px black;
    text-shadow: 0 0 8px black;
    outline: 5px solid #669966;
    border: 4px solid black;
    background-color: #660000;
}
.name:hover {
    
}

/*Name*/

/*Headshot*/

/*Headshot*/

/*Nav*/
.navLinks {
    font-size: large;
    padding-top: 2px;
}
.navLinks:hover {
    text-shadow: 0 0 8px #669900;
    font-weight: 600;
    /* text-decoration: underline;
    text-decoration-color: #660000; */
}

/*Nav*/

/* MAIN MAIN MAIN */

/*Main*/
    .mainContainer {
        background-color: rgba(185, 195, 200, .8);
    }
/*Main*/

/*AboutMe*/
    .aboutMeContainer {
        background-color: rgb(235, 240, 245);
        border: 4px solid black;
        border-radius: 8px;
    }
    .aboutMeP1 {}
    .aboutMeP2 {}
    .aboutMeP3 {}
    .aboutMeP4 {}

/*AboutMe*/

/*ContactMe*/
.contactMeFormContainer {
    background-color: rgb(235, 240, 245);
    border: 4px solid black;
    border-radius: 8px;
}
.contactMeForm {
    background-color: #669966;
}
/*ContactMe*/

/*Home*/

/*Home*/

/*Projects*/
.projectsContainer {
    background-color: rgb(235, 240, 245);
}
.projectCard {
    background-color: rgba(51, 51, 0, .6);
}
.projectTitle {
    font-size: 52px;
    font-weight: 600;;
    color: #993333;
    -webkit-text-stroke: 2px black;
}
.projectDescription {
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    background-color: rgba(102, 0, 0, .8);
    text-shadow: 0 0 5px black;
}
.projectImage {
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    background-color: #669966;
}
.projectGitHub {
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    background-color: rgb(215, 215, 215);
}
.projectSkills {
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
    background-color: #993333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*Projects*/

/*Resume*/

.resume {
    margin: 0 auto;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    border: 6px solid #660000;
    outline: 3px solid black;
    background-color: rgb(85, 85, 85);
}

/*Resume*/

/*Skills*/
.skillCard {
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 11rem;
    padding: 12px;
    margin: 5px;
    background-color: rgb(235, 240, 245);
}
.skillCard:hover {
    border: 3px solid black;
    outline: 2px solid black;
    box-shadow: 0 0 8px black;
}
.skillName {
    font-size: x-large;
    font-weight: 600;
    text-decoration: underline;
}
.skillLogo {
    max-width: 10rem;
    max-height: 6rem;
    padding-bottom: 2px;
}
#cppCard:hover {
    border: 4px solid #659AD2;
}
#cssCard:hover {
    border: 4px solid #264DE4;
}
#djangoCard:hover {
    border: 4px solid rgba(0, 0, 0, .8);
}
#expressjsCard:hover {
    border: 4px solid rgba(0, 0, 0, .4);
}
#gitCard:hover {
    border: 4px solid #F05133;
}
#htmlCard:hover {
    border: 4px solid #E44D26;
}
#javascriptCard:hover {
    border: 4px solid #D6BA32;
}
#mongodbCard:hover {
    border: 4px solid #12924F;
}
#nodejsCard:hover {
    border: 4px solid #689F63;
}
#pythonCard:hover {
    border: 4px solid #FFDC52;
}
#reactjsCard:hover {
    border: 4px solid #61DAFB;
}
#tailwindcssCard:hover {
    border: 4px solid #38BDF8;
}


/*Skills*/

/* FOOTER FOOTER FOOTER */

/* Footer */
.footerContainer {
    background-color: rgb(235, 240, 245);
}
.footerLinks {
    font-size: large;
    text-decoration: underline;
    text-decoration-color: #660000;
    padding: 2px;
}
.footerLinks:hover {
    color: #161b22;
    text-shadow: 0 0 10px #669900;
    font-weight: 600;

}
.footerPortfolioGitHub {}
.footerLinkedIn {
    font-size: large;
    text-decoration: underline;
    text-decoration-color: #660000;
    padding: 2px; 
}
.footerLinkedIn:hover {
    color: #0A66C2;
    text-shadow: 0 0 10px #378FE9;
    font-weight: 600;
    text-decoration-color: #161b22;
}
.footerProfileGitHub {}

/* Footer */

/*GitHubProject*/

/*GitHubProject*/

/*LinkedIn*/

/*LinkedIn*/

/*GitHubProfile*/

/*GitHubProfile*/
