/* HEADER HEADER HEADER */
/*Name*/
.name {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 3px black;
    text-shadow: 0 0 8px black;
    outline: 5px solid #669966;
    border: 4px solid black;
    background-color: #660000;
}
.name:hover {
    
}

/*Name*/

/*Headshot*/

/*Headshot*/

/*Nav*/
.navLinks {
    font-size: large;
    padding: 2px;
}
.navLinks:hover {
    text-shadow: 0 0 6px #669900;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #660000;
}

/*Nav*/

/* MAIN MAIN MAIN */

/*AboutMe*/

/*AboutMe*/

/*ContactMe*/

/*ContactMe*/

/*Home*/

/*Home*/

/*Projects*/

/*Projects*/

/*Resume*/

.resume {
    margin: 0 auto;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    border: 6px solid #660000;
    outline: 3px solid black;
    background-color: rgb(85, 85, 85);
}

/*Resume*/

/*Skills*/

/*Skills*/

/* FOOTER FOOTER FOOTER */

/* Footer */
.footerLinks {
    font-size: large;
    text-decoration: underline;
    text-decoration-color: #660000;
    padding: 2px;
}
.footerLinks:hover {
    text-shadow: 0 0 10px #669900;
    font-weight: 600;

}

/* Footer */

/*GitHubProject*/

/*GitHubProject*/

/*LinkedIn*/

/*LinkedIn*/

/*GitHubProfile*/

/*GitHubProfile*/
